@import "mixins/color";
@import "mixins/sizing";

.beer-image-container {
  width: auto;

  display: flex;
  justify-content: center;

  .beer-image-wrapper {
    width: 420px;
    height: 420px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/images/PRODUCT_DECORATION@2x.png');

    display: flex;
    justify-content: center;
    align-items: center;

    .viewer-image {
      width: 90%;
      border-radius: 150px;
    }
  }
}

.beer-info-container {
  width: auto;

  .key-value-container {
    display: flex;
  }

  .key-value-title {
    align-items: center !important;
  }
}

.product-key {
  color: $primary-text-orange;
}

.product-smells,
.product-tastes,
.product-apv,
.product-ingredients {
  margin-left: 5px;
}

.color-container {
  margin-left: 10px;
}

.color-box {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.key-value-color-container {
  align-items: center;
}

.product-hr {
  height: 0px;
  width: 30px;
  margin: 0 5px;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 732px) {
  .beer-image-container {
    .beer-image-wrapper {
      width: 520px;
      height: 520px;

      .viewer-image {
        width: 600px;
      }
    }
  }
}

@media screen and (min-width: $width_desktop) {
  .beer-image-container {
    width: 50%;
  }

  .beer-info-container {
    width: 50%;
  }
}