.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.list-container {
  display: none;
  width: 250px;
  height: 100vh;

  background-color: #2f2f2f;
}

.viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 50px;

  background-color: #f9e4cc;

  & p {
    color: #2f2f2f;
    font-size: 26px;
  }

  &:hover {
    background-color: #f6b468;
    transition: background ease 0.2s;

    & p {
      color: #f6b468;
      transition: color ease 0.2s;
    }
  }
}

.viewer-image {
  width: 700px;
  height: 700px;

  margin: 20px 0 0;
}

.viewer-info-container {
  width: 700px;
  height: auto;

  color: #2f2f2f;
  background-color: #f9e4cc;

  margin: 0 auto;
}

.key-value-container {
  display: flex;
  justify-content: center;
}

.product-key {
  color: #b17519;
  padding: 0 5px 0 0;
}

.product-tags {
  padding: 0 0 0 5px;
  margin: 0 0 20px 0;
}

.viewer-specs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.viewer-specs-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 0 10px 0;
}

.color-container {
  display: flex;

  & .color-box {
    width: 20px;
    height: 20px;

    margin: 0 5px 0 0;
  }
}

@media screen and (max-width: 900px) {
  .list-container {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .viewer-container {
    align-items: flex-end;

    & h1 {
      font-size: 1.8em;
    }

    & h4 {
      font-size: 0.9em;
    }
  }

  .viewer-info-container {
    width: 100%;
    height: 350px;

    & p {
      font-size: 0.9em;
    }
    & .margin-right {
      margin: 0;
    }

    & .viewer-specs-line {
      flex-direction: column;
    }
  }

  .viewer-image {
    position: static;
    width: 96%;
    height: 100vh;
    object-fit: contain;

    margin: 5% auto 0 auto;
  }
}
