@import "mixins/color";
@import "mixins/sizing";

.beer-about-image {
  display: none;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 732px) {
  .beer-about-image {
    display: block;
    width: 100%;
    background-size: contain;
  }
}

@media screen and (min-width: $width_desktop) {}