.beers-content {
  width: 100%;
  height: auto;
  min-height: 430px;
}

.beers-p {
  font-size: 0.85em;
  color: #2f2f2f;
  padding: 15px;
}

.beers-p-container {
  opacity: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f6b468;
}

.beers-h1 {
  width: 100%;
  text-align: center;

  color: #2f2f2f;
  padding: 20px 0 0;
}

.beers-h6 {
  color: #2f2f2f;
  font-size: 1.2em;
  text-align: right;

  padding: 15px 15px;
}

.beers-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 1500px;
  margin: 20px auto;
}

.beer-article {
  position: relative;
  width: 400px;
  height: 400px;

  background-color: #ffffff;

  margin: 0 0 75px 75px;

  &:hover {
    cursor: pointer;
    background-color: #f6b468;
    transition: all ease 0.5s;

    .beer-image,
    .beers-p-container,
    .beers-h6 {
      opacity: 0;
    }
  }
}

.beer-image {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  // &:hover {
  //   opacity: 0;
  //   transform: ease-in 0.5s;
  // }
}

@media screen and (max-width: 1500px) {
  .beers-container {
    width: 1100px;
  }

  .beer-article {
    width: 300px;
    height: 300px;
    margin: 0 0 50px 50px;
  }
}

@media screen and (max-width: 1100px) {
  .beers-container {
    width: 750px;
  }

  .beer-article {
    width: 300px;
    height: 300px;
    margin: 0 0 50px 50px;
  }
}

@media screen and (max-width: 750px) {
  .beers-container {
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;
  }

  .beer-article {
    width: 300px;
    height: 300px;
    margin: 0 auto 50px auto;
  }
}
