@use 'beers';
@use 'about';
@use 'footer';

@use 'viewer';

@import "mixins/sizing";
@import "mixins/color";

@font-face {
  font-family: Akidenz;
  src: url("../assets/fonts/Akidenz-grotesk-roman.ttf");
}

@font-face {
  font-family: Akidenz-Bold;
  src: url("../assets/fonts/Akidenz-grotest-bold.ttf");
}

@font-face {
  font-family: NeutralFace-Regular;
  src: url("../assets/fonts/NeutralFace.otf");
}

@font-face {
  font-family: NeutralFace-Bold;
  src: url("../assets/fonts/NeutralFace-Bold.otf");
}

body {
  padding: 0;
  margin: 0;
  color: $primary-text-white;
  background-color: $background;
  background-image: url('../assets/images/BACKGROUND\ HOME-100.jpg');

  font-family: NeutralFace-Regular, sans-serif;
}

a {
  text-decoration: none;
  color: $primary-text-white;
}

p {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0;
}

.call-to-action-text {
  cursor: pointer;
  font-size: 1em;
  border-bottom: 2px solid transparent;

  &:hover {
    // text-decoration: underline;
    border-color: $primary-text-white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Akidenz, sans-serif;
  margin: 0;
}

h1 {
  font-size: 4em;
  color: $primary-text-orange;
}

.beer-logo {
  width: 200px;
  margin: 1.3em 0 0 1.3em;
}

.arrow-small {
  width: 20px;
  margin-left: 10px;
}

.arrow-medium {
  width: 50px;
  margin-left: 20px;
}

.arrow-down {
  transform: rotate(90deg);
}

.navbar-container {
  width: 100%;

  display: flex;
  align-items: center;

  flex-direction: column;

  box-shadow: $shadow;
}

.navbar-options {
  width: 100%;
  margin: 1.3em 1.3em 0 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  list-style: none;
  font-size: 38px;

  .navbar-option-selected {
    color: $primary-text-orange
  }

  .navbar-option {
    margin-left: 1.3em;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.beersite-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: $width_desktop;
  margin: 80px auto 0;
}

.main-section-welcome-information {
  img {
    width: 100%;
    background-size: contain;
  }

  .main-section-text-content {
    margin-top: 1em;
  }
}

.main-section-beers-link {
  display: flex;
  justify-content: flex-end;

  .main-section-latest-beer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 100px;
  }
}

.latest-beer-container {
  cursor: pointer;
  background-color: $primary-text-orange;
  border-radius: 150px;
  width: 220px;
  height: 220px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 120%;
    background-size: contain;
  }
}

.margin-top {
  margin-top: 30px;
}

.margin-right {
  margin-right: 30px;
}

@media screen and (min-width: 320px) {

  .beersite-main-container {
    // width: $width_mobile;
    width: 85%;
  }


}

@media screen and (min-width: 732px) {

  .beersite-main-container {
    width: $width_ipad;
  }

  .navbar-container {
    flex-direction: row;
  }

  .navbar-options {
    justify-content: flex-end;
    flex-direction: row;
  }

  .main-section-welcome-information {
    width: 60%;
  }

  .main-section-beers-link {
    width: 40%;
  }
}

@media screen and (min-width: 1138px) {

  .beersite-main-container {
    width: $width_desktop;

    // align-items: center;
    flex-direction: row;
  }

  .align-right {
    text-align: right;
  }
}