@use 'beers';
@use 'about';
@use 'footer';

@use 'viewer';

@import "mixins/sizing";
@import "mixins/color";

@font-face {
  font-family: Overpass-Regular;
  src: url("../assets/fonts/Overpass-Regular.ttf");
}

@font-face {
  font-family: Overpass-Bold;
  src: url("../assets/fonts/Overpass-Bold.ttf");
}

@font-face {
  font-family: NeutralFace-Regular;
  src: url("../assets/fonts/NeutralFace.otf");
}

@font-face {
  font-family: NeutralFace-Bold;
  src: url("../assets/fonts/NeutralFace-Bold.otf");
}

body {
  padding: 0;
  margin: 0;
  color: $primary-text-white;
  background-color: $background;

  font-family: NeutralFace-Regular, sans-serif;
}

p {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0;
}

.align-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Overpass-Bold, sans-serif;
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

.navbar-container {
  width: 100%;

  display: flex;
  align-items: center;

  box-shadow: $shadow;
}

.navbar-options {
  width: 100%;
  margin: 1.3em 1.3em 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  list-style: none;
  font-size: 38px;

  .navbar-option-selected {
    color: $primary-text-orange
  }

  .navbar-option {
    margin-left: 1.3em;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.beersite-main-container {
  display: flex;

  width: $width_desktop;
  margin: 80px auto 0;
}

.main-section-welcome-information {
  width: 60%;

  img {
    width: 100%;
    background-size: contain;
  }

  .main-section-text-content {
    margin-top: 1em;
  }
}

.main-section-beers-link {
  width: 40%;

  .main-section-latest-beer {
    margin-top: 100px;
    width: 100%;
  }
}

.latest-beer-container {
  cursor: pointer;
  background-color: $primary-text-orange;
  border-radius: 150px;
  width: 220px;
  height: 220px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 120%;
    background-size: contain;
  }
}

.margin-top {
  margin-top: 30px;
}

.margin-right {
  margin-right: 30px;
}

@media screen and (min-width: 320px) {

  .beersite-main-container {
    width: $width_mobile;
  }
}

@media screen and (min-width: 732px) {

  .beersite-main-container {
    width: $width_ipad;
  }
}

@media screen and (min-width: 1138px) {

  .beersite-main-container {
    width: $width_desktop;
  }
}