.beers-content {
  width: 100%;
  height: auto;
  min-height: 430px;
}

.beers-p {
  font-size: 0.85em;
  color: #2f2f2f;
  padding: 15px;
}

.beers-p-container {
  opacity: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f6b468;
}

.beers-h1 {
  width: 100%;
  text-align: center;
  color: #2f2f2f;
  padding: 20px 0 0;
}

.beers-h6 {
  color: #2f2f2f;
  font-size: 1.2em;
  text-align: right;
  padding: 15px 15px;
}

.beers-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1500px;
  margin: 20px auto;
}

.beer-article {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  margin: 0 0 75px 75px;
}
.beer-article:hover {
  cursor: pointer;
  background-color: #f6b468;
  transition: all ease 0.5s;
}
.beer-article:hover .beer-image,
.beer-article:hover .beers-p-container,
.beer-article:hover .beers-h6 {
  opacity: 0;
}

.beer-image {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1500px) {
  .beers-container {
    width: 1100px;
  }

  .beer-article {
    width: 300px;
    height: 300px;
    margin: 0 0 50px 50px;
  }
}
@media screen and (max-width: 1100px) {
  .beers-container {
    width: 750px;
  }

  .beer-article {
    width: 300px;
    height: 300px;
    margin: 0 0 50px 50px;
  }
}
@media screen and (max-width: 750px) {
  .beers-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .beer-article {
    width: 300px;
    height: 300px;
    margin: 0 auto 50px auto;
  }
}
.about-content {
  width: 100%;
  height: auto;
  min-height: 300px;
  background: #5f5f5f;
}

.about-h1 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.about-p {
  width: 50%;
  height: auto;
  text-align: left;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

@media screen and (max-width: 600px) {
  .about-p {
    width: 85%;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #3f3f3f;
}

.link-container-footer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.link-footer {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 0;
}
.link-footer:hover, .link-footer:active {
  color: #f6b468;
  transition: color ease 0.2s;
}

.line-footer {
  display: block;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  .link-container-footer {
    flex-direction: column;
    padding: 10px 0;
  }

  .link-footer {
    padding: 5px 0;
  }

  .line-footer {
    display: none;
  }
}
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.list-container {
  display: none;
  width: 250px;
  height: 100vh;
  background-color: #2f2f2f;
}

.viewer-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.viewer-image {
  width: 700px;
  height: 700px;
  position: absolute;
  top: calc(((100vh / 2) - 100px) - 350px);
  left: calc((100% / 2) - 350px);
  margin: 0;
}

.viewer-info-container {
  width: 100%;
  height: 200px;
  color: #2f2f2f;
  background-color: #f6b468;
  position: absolute;
  bottom: 0;
}

.product-title {
  padding: 5px 0 0 5px;
}

.product-tags {
  padding: 0 0 0 5px;
  margin: 0 0 20px 0;
}

.viewer-specs-container {
  display: flex;
  width: 100%;
  height: auto;
}

.viewer-specs-left,
.viewer-specs-right {
  width: calc(50% - 5px);
  height: 100%;
}
.viewer-specs-left p,
.viewer-specs-left .color-container,
.viewer-specs-right p,
.viewer-specs-right .color-container {
  padding: 0 0 0 5px;
}

.color-container {
  display: flex;
  width: 100%;
}
.color-container .color-box {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
  border: #2f2f2f solid 1px;
}

@media screen and (max-width: 900px) {
  .list-container {
    display: none;
  }

  .viewer-image {
    left: calc((100% / 2) - 350px);
  }

  .viewer-info-container {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .viewer-info-container {
    height: 350px;
  }

  .viewer-specs-container {
    flex-direction: column;
  }
  .viewer-specs-container .viewer-specs-left,
.viewer-specs-container .viewer-specs-right {
    width: calc(100% - 5px);
  }
  .viewer-specs-container .viewer-specs-left {
    margin: 0 0 10px 0;
  }

  .viewer-image {
    position: static;
    width: 96%;
    height: auto;
    object-fit: contain;
    margin: 5% auto 0 auto;
  }
}
@font-face {
  font-family: Nunito-Regular;
  src: url("../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: Nunito-Bold;
  src: url("../assets/fonts/Nunito-Bold.ttf");
}
body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: #faf5ef;
  font-family: Nunito-Regular, sans-serif;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nunito-Bold, sans-serif;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

.banner-content {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/beer-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: #f6b468 1px solid;
}

.banner-h1 {
  display: block;
}

.banner-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 600px) {
  .banner-content {
    height: 100vh;
  }

  .banner-h1 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
