.beers-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 375px;
  gap: 80px;
}

.beers-h6 {
  color: #2f2f2f;
  font-size: 26px;
  line-height: 26px;
  text-align: left;
  padding-bottom: 2px;
}

.beers-p {
  font-size: 12px;
  line-height: 12px;
  color: #F9673D;
}

.beers-text-container {
  width: 300px;
  margin-top: 5px;
}

.beer-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 15px;
}

.beer-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 326px;
  height: 375px;
  border-radius: 5px;
  background-color: #202D2C;
  box-shadow: 0 0 3px 1px rgba(47, 47, 47, 0.3);
}
.beer-article:hover {
  cursor: pointer;
  background-color: #f9e4cc;
  transition: all ease 0.2s;
}

.beers-shimmer {
  width: 90%;
  height: 90%;
  margin: 5% 0 5% 0;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 30%, #f6f7f8 70%, #f6f7f8 100%);
  background-repeat: no-repeat;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: beerArticleShimmer;
  -webkit-animation-timing-function: linear;
}

.shimmer-big {
  width: 90%;
  height: 55%;
}

.shimmer-small {
  width: 90%;
  height: 30%;
}

@-webkit-keyframes beerArticleShimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
.about-container {
  position: relative;
  height: auto;
  background: #202D2C;
  box-shadow: none;
}

.about-container::after {
  content: "";
  background-image: none;
  background-size: cover;
  background-position: top;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.about-p {
  width: 50%;
  height: auto;
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  padding: 40px 0 40px 40px;
}

@media screen and (min-width: 320px) {
  .about-p {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
}
@media screen and (min-width: 732px) {
  .about-p {
    width: 652px;
    padding: 40px;
    text-align: left;
  }

  .about-container {
    box-shadow: 0 0 3px 1px rgba(47, 47, 47, 0.3);
  }

  .about-container::after {
    background-image: url("../assets/images/bottles.jpg");
  }
}
@media screen and (min-width: 1138px) {
  .about-p {
    width: 50%;
    padding: 40px 0 40px 40px;
    text-align: left;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #3f3f3f;
}

.link-container-footer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.link-footer {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 0;
}
.link-footer:hover, .link-footer:active {
  color: #f6b468;
  transition: color ease 0.2s;
}

.line-footer {
  display: block;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  .link-container-footer {
    flex-direction: column;
    padding: 10px 0;
  }

  .link-footer {
    padding: 5px 0;
  }

  .line-footer {
    display: none;
  }
}
.main-container {
  display: flex;
  width: 1138px;
  margin: 0 auto;
}

.viewer-article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1138px;
  height: 720px;
  box-shadow: 0 0 3px 1px rgba(47, 47, 47, 0.3);
  border-radius: 5px;
}

.viewer-content-container {
  display: flex;
  align-items: center;
  height: 600px;
  max-width: 1138px;
}

.viewer-image {
  width: 600px;
  height: 600px;
}

.viewer-info-container {
  width: 700px;
  height: 600px;
  color: #2f2f2f;
  margin-right: 58px;
}

.key-value-container {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 10px 0;
}

.product-key {
  color: #b17519;
  padding: 0 5px 0 0;
}

.product-tags {
  padding: 0 0 0 5px;
}

.viewer-specs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.viewer-specs-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 10px 0;
}

.color-container {
  display: flex;
}
.color-container .color-box {
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 50px;
  border: solid 2px #2f2f2f;
  background-color: #202D2C;
}
.back-button p {
  color: #2f2f2f;
  font-size: 26px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
.back-button:hover {
  background-color: #f9e4cc;
  transition: background ease 0.2s;
}
.back-button:hover p {
  color: #f9e4cc;
  transition: color ease 0.2s;
}

@media screen and (min-width: 320px) {
  .main-container {
    width: 326px;
  }

  .viewer-article {
    width: 326px;
    height: auto;
    margin: 100px 0 0 0;
  }

  .viewer-content-container {
    flex-direction: column;
    height: auto;
  }

  .viewer-info-container {
    width: 100%;
    height: auto;
    margin-right: 0px;
  }

  .viewer-image {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
}
@media screen and (min-width: 732px) {
  .main-container {
    display: flex;
    width: 732px;
    margin: 0 auto;
  }

  .viewer-article {
    width: 732px;
    margin: 100px 0 80px 0;
  }

  .viewer-info-container {
    width: 600px;
  }

  .viewer-image {
    width: 600px;
    height: 600px;
    margin: 58px 0 15px;
  }
}
@media screen and (min-width: 1138px) {
  .main-container {
    align-items: center;
    height: 100vh;
    width: 1138px;
  }

  .viewer-article {
    width: 1138px;
    height: 720px;
    margin: 0;
  }

  .viewer-content-container {
    display: flex;
    flex-direction: row;
  }

  .viewer-info-container {
    width: 700px;
    height: 600px;
    margin-right: 58px;
  }

  .viewer-image {
    margin: 0 0 0 58px;
  }

  .key-value-container {
    padding: 0 0 10px 15px;
  }
}
@font-face {
  font-family: Overpass-Regular;
  src: url("../assets/fonts/Overpass-Regular.ttf");
}
@font-face {
  font-family: Overpass-Bold;
  src: url("../assets/fonts/Overpass-Bold.ttf");
}
@font-face {
  font-family: NeutralFace-Regular;
  src: url("../assets/fonts/NeutralFace.otf");
}
@font-face {
  font-family: NeutralFace-Bold;
  src: url("../assets/fonts/NeutralFace-Bold.otf");
}
body {
  padding: 0;
  margin: 0;
  color: #ECDFC7;
  background-color: #202D2C;
  font-family: NeutralFace-Regular, sans-serif;
}

p {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0;
}

.align-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Overpass-Bold, sans-serif;
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px 1px rgba(47, 47, 47, 0.3);
}

.navbar-options {
  width: 100%;
  margin: 1.3em 1.3em 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  font-size: 38px;
}
.navbar-options .navbar-option-selected {
  color: #F9673D;
}
.navbar-options .navbar-option {
  margin-left: 1.3em;
  cursor: pointer;
}
.navbar-options .navbar-option:hover {
  text-decoration: underline;
}

.beersite-main-container {
  display: flex;
  width: 1138px;
  min-height: 100vh;
  margin: 80px auto 0;
}

.main-section-welcome-information {
  width: 60%;
}
.main-section-welcome-information img {
  width: 100%;
  background-size: contain;
}
.main-section-welcome-information .main-section-text-content {
  margin-top: 1em;
}

.main-section-beers-link {
  width: 40%;
}

.margin-top {
  margin-top: 30px;
}

.margin-right {
  margin-right: 30px;
}

@media screen and (min-width: 320px) {
  .beersite-main-container {
    width: 326px;
  }
}
@media screen and (min-width: 732px) {
  .beersite-main-container {
    width: 732px;
  }
}
@media screen and (min-width: 1138px) {
  .beersite-main-container {
    width: 1138px;
  }
}

/*# sourceMappingURL=style.css.map */
