$background: #202D2C;
$background-hover: #f9e4cc;
$primary-grey: #2f2f2f;
$shadow: 0 0 3px 1px rgba($color: $primary-grey,
    $alpha: 0.3,
  );

$primary-text-grey: $primary-grey;
$primary-text-orange: #f6b468;